@*
* John Moreau
* CSS233
* 11/10/2023
*@
@{
    // nested layout view
    Layout = "_Layout";
}
<ul class="nav nav-tabs mt-2 mb-3">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Help">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Tutorial" asp-area="Help">
            Tutorial
        </a>
    </li>
</ul>

@RenderBody()

