@{
    ViewData["Title"] = "Contact Me";
}
<div class="">
    <ul class="list-group list-group-flush">
        @foreach (KeyValuePair<string, object?> item in ViewData)
        {
            if (item.Key != "Title")
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-2">@item.Key</div>
                        <div class="col-4">@item.Value</div>
                    </div>
                </li>
            }
        }
    </ul>
</div>
