@{
}
<div>
    <p>
        Here's the first thing you need to know about my website.'
    </p>
    <button class="btn btn-dark">
        <a class="text-decoration-none text-light" asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id=2>Next</a>
    </button>
</div>