@*
* John Moreau
* CSS233
* 11/10/2023
*@
<div>
    <p>Welcome to the help page.</p>
    <button class="btn btn-dark">
        <a class="text-decoration-none text-light" asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id=1>Start Tutorial</a>
    </button>
</div>
